* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

header {
    height: 150px;
    background-color: #ffffff;
    display: flex;
}

.logo-section {
    width: 75%;
}

.logo-image {
    height: 150px;
    margin-left: 25px;
}

.happy-worker-section {
    width: 25%;
    margin: auto;
    font-weight: bold;
    font-size: 22px;
}

.happy-worker-section h3 {
    text-align: center;
    margin-right: 20px;
}


.nav-links {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    background-color: #4646CC;
    height: 60px;
    cursor: pointer;
}

.links {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    border-left: 1px solid white;
    text-align: center;
    line-height: 60px;

}

a {
    color: white;
    text-decoration: none;
}

main {
    width: 70%;
    margin: auto;
}

.main-section {
    height: auto;
    margin: auto;
}


.main-section h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* GAMES RESERVATION */
.button-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-section button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    border: 2px solid #4646CC;
    border-radius: 5px;
}

.button-section button:hover {
    background-color: #4646CC;
    color: white;
}

.game-table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.game-table th,
.game-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* KÓŁKO I KRZYŻYK */
.game {
    padding: 20px;
    margin: 20px;
    height: auto;
}

.game-board {
    height: auto;
    width: auto;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}

.board-row {
    display: flex;
}

.winner {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.square {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}

/* WYDATKI */

.expenses-table {
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.expenses-table th,
.expenses-table td {
    border: none;
    padding: 10px;
    text-align: center;
}

.expenses-table th {
    background-color: #4646CC;
    color: white;
}

.expenses-table tr:nth-child(even) {
    background-color: #bbbbfa70;
}

/* KOSZULKI */

.koszulki-form {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

form {
    margin: auto;
}

.koszulki-form input[type="text"],
.koszulki-form input[type="number"],
.koszulki-form select,
.koszulki-form input[type="email"] {
    width: 35%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.koszulki-form form {
    width: 50%;
}

.koszulki-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
}

.koszulki-form input[type="submit"]:hover {
    background-color: #3333ff;
}

/* TO DO LIST */

.tasks-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#addTaskBtn {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    border: none;
    border-radius: 2px;
}

#addTaskBtn:hover {
    background-color: #3333ff;
}

.inProgress,
.done {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.inProgress,
.done {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.task {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.inProgress input[type="text"] {
    width: 65%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.delBtn,
.doneBtn,
.editBtn {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    border: none;
    border-radius: 2px;
}

.delBtn:hover,
.doneBtn:hover,
.editBtn:hover {
    background-color: #3333ff;
}

/* QUIZ */

.main-section h2 {
    text-align: center;
}

.quiz-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    height: 400px;
}

.options-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.option {
    margin-bottom: 10px;
}

.option label {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option label:hover {
    background-color: #e0e0e0;
}

.checkbox {
    display: none;
}

.checkbox:checked+span {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #878787;
    color: #fff;
    border-radius: 6px;
}

.nextQuestion {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    border: none;
    border-radius: 2px;
}

.nextQuestion:hover {
    background-color: #3333ff;
}

/* LED */
.led {
    text-align: center;
    margin-top: 100px;
}

.led button {
    margin: 10px;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    border: none;
    border-radius: 5px;
    border: 5px solid #3434a1;
}

.led button:hover {
    background-color: #3333ff;
}

footer {
    height: auto;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}