
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

header{
    height: 150px;
    background-color: #ffffff;
    display: flex;
}

.logo-section{
    width: 75%;
}
.happy-worker-section{
    width: 25%;
}

.niewidzialny{
    display: none;
}

.logo-image{
    height: 150px;
    margin-left: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    background-color: #4646CC;
    height: 60px;
} 

li {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    border-left:1px solid white;
    text-align: center;
    line-height: 60px;
    
}

a{
    color: white;
    text-decoration: none;
}

h3{
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}

main{
    width: 70%;
    margin: auto;
}

.main-section{
    width: 70%;
    height: auto;
}

.main-section h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-section img{
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

footer{
    height: auto;
    text-align: right;
}


/* css do toDo.tsx */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#addTaskBtn {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.inProgress, .done, .stats {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.inProgress, .done {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.task {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.delBtn, .doneBtn, .editBtn {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}